name: CI/CD auth_service

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-push-to-yc:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 503812
          POSTGRES_DB: online-shop
        ports:
          - 5433:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Wait for Postgres
        run: |
          echo "Waiting for PostgreSQL to be ready..."
          for i in {1..10}; do
            pg_isready -h localhost -p 5433 -U postgres && break
            sleep 5
          done
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build 
        run: ./gradlew clean build -x test -x generateJooq

      - name: Build Docker image
        run: |
          docker build . --file Dockerfile --tag cr.yandex/${{ secrets.YC_REGISTRY_ID }}/auth_service:latest

      - name: Login to YC Registry
        uses: docker/login-action@v3
        with:
          registry: cr.yandex
          username: json_key
          password: ${{ secrets.YC_KEYS }}

      - name: Push tag to YC Registry
        run: |
          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/auth_service:latest
